page-leader-board {
	
	//everything
	*{
		font-family: "Bungee",cursive;
		font-size: 20px;
		line-height: 20px;
		color: #4D452E;
	}

	//main content height and position (except bottom buttons)
	.page_content{
		min-height: calc(100vh - 160px);
		max-width: 600px;
		margin: auto;
	}

	//main title
	.title{
		line-height: 60px;
		font-size: 60px;
		padding: 60px;
		text-align: center;
		width: 100%;
		top: 0vh;
	}

	//main text
	.text{
		padding: 30px;
	}

	//leader board html table
	#leader_board_table{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	//table right column allign right
	#leader_board_table tr > td:last-child{
		text-align: right;
	}

	//page background and padding
	.scroll-content{
		background-color: #f9cb9c;
		padding: 0px !important;
	}

	//bottom button layout
	.button_container{
		text-align: center;
		width: 100%;
		padding: 20px;
		max-width: 600px;
		margin: auto;
	}

	//bottom button
	.button_container button{
		text-align: center;
		height: 80px;
		width: calc(100% - 40px);
		max-width: 400px;
		margin: 5px 0px;
		border-radius: 10px;
		font-size: 30px;
	}
}