page-lost {
	
	//everything
	*{
		font-family: "Bungee",cursive;
	}

	//main content height and position (except bottom buttons)
	.page_content{
		min-height: calc(100vh - 200px);
		max-width: 600px;
		margin: auto;
	}

	//main title
	.title{
		line-height: 60px;
		font-size: 60px;
		font-family: "Bungee",cursive;
		padding: 60px;
		text-align: center;
		width: 100%;
		color: #4D3232;
	}

	//main text
	.text{
		width: 100%;
		height: calc(100vh - 200px - 180px);
		text-align: center;
		color: #4D3232;
		font-size: 30px;
	}

	//page background and padding
	.scroll-content{
		background-color: #ea9999;
		padding: 0px !important;
	}

	//bottom button layout
	.button_container{
		text-align: center;
		width: 100%;
		padding: 20px;
		max-width: 600px;
		margin: auto;
	}

	//bottom button
	.button_container button{
		text-align: center;
		height: 80px;
		width: calc(100% - 40px);
		max-width: 400px;
		margin: 5px 0px;
		border-radius: 10px;
		font-size: 30px;
	}
}
