// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #134f5c,
  secondary:  #134f5c,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  blue0:      #9fc5f8,
  blue1:      #2367C0,
  blue2:      #1D56A1,
  blue3:      #143C71,
  blue4:      #313D4D,
  purple0:    #b4a7d6,
  purple1:    #b4a7d6,
  purple4:    #413C4D,
  red0:       #ea9999,
  red1:       #cc0000,
  red4:       #4D3232,
  orange0:    #f9cb9c,
  orange1:    #e69138,
  orange4:    #4D3F30,
  yellow0:    #ffe599,
  yellow1:    #f1c232,
  yellow4:    #4D452E,
  turquoise0:    #a2c4c9,
  turquoise1:    #45818e,
  turquoise2:    #134f5c,
  turquoise4:    #3E4B4D,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
