page-game {
  
  //score and lives output
  .stats{
		position: absolute;
		top: 0px;
		width: 100%;
		padding: 30px;
		margin: 0px;
	}
  
  //score and lives text
  .stats span{
		color: #413C4D;
		
		font-size: 20px;
		font-family: "Bungee",cursive;
	}

	.float{
		position: absolute;
		top: 0px;
		left: 200px;
	}
}
